* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 15px;
}

*:hover {
    z-index: 3;
}

#root {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    align-items: start;
}

.grapher-window {
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    margin: 1em
}

.axis {
    position: absolute;
    background-color: black;
    opacity: 0.3;
}

.axis:hover {
    opacity: 1;
}

.x-axis {
    height: 1px;
    width: 100%;
}

.y-axis {
    height: 100%;
    width: 1px;
}

.axis-interval {
    position: absolute;
    background-color: black;
}

.x-axis .axis-interval {
    height: 8px;
    width: 1px;
}

.y-axis .axis-interval {
    height: 1px;
    width: 8px;
}


.x-axis-interval-label {
    position: absolute;
    font-size: 8px;
    left: -5px;
    top: 10px;
}

.y-axis-interval-label {
    position: absolute;
    font-size: 8px;
    left: 10px;
    top: -5px;
}

.axis-0 {
    position: absolute;
    background-color: black;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    opacity: 0.5;
}

.axis-0:hover {
    opacity: 1;
    cursor: pointer;
}

.grapher-menu {
    position: absolute;
    right: 0;
    top: 0;
    background: white;
    z-index: 5;
}


.grapher-menu>svg {
    border: 1px solid black;
    width: 2em;
    height: 2em;
    cursor: pointer;
    display: flex;
    background-color: white;
    box-sizing: border-box;
}

.grapher-menu>svg:hover {
    filter: invert(100%);

}

.active {
    filter: invert(100%);
}

.menu-window {
    border: 1px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 1em;
    margin-right: 1em;
    padding: 0.5em;
    margin-left: 1em;
}

.menu-heading {
    /* padding: 0.5em 0; */
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 1em;
}

.menu-heading>div {
    margin-top: auto;
    margin-bottom: auto;
}

.close-menu-window:hover {
    cursor: pointer;
}

.object {
    position: absolute;
    border-radius: 50%;
    z-index: 2;
}

.object:hover {
    cursor: pointer;
    outline: 2px solid black;

}

.objects-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 1em;
}

.objects-list-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.objects-list-item:last-child {
    align-items: end;
}

input[type="color"].custom {
    height: 15px;
    width: 100%;
}

input[type="number"].custom {
    height: 15px;
    border: 0;
    width: 50%;
    outline: 0;
    border-bottom: 1px solid black;
}

input[type="color"] {
    border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
}

input[type="color"]::-moz-color-swatch {
    border: none;
}

input[type="color"]::-moz-color-swatch-wrapper {
    border: none;
}

.intercept {
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: black;
    font-size: 8px;
}